.generalInvite_generalInvite__right__sIsv4 {
  display: flex;
  height: 360px;
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
}

.generalInvite_generalInvite__left__F5iBf {
  bottom: 0;
  height: 360px;
  left: 0;
  position: fixed;
  width: 250px;
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter 0.3s;
}

.blur {
  --tw-blur: blur(8px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity 0.3s;
}

.generalInvite_generalInvite__form__deck__header__ebYRN {
  font-family: Tiempos Headline !important;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 auto 0.5rem;
  max-width: 369px;
  text-align: center;
}

.generalInvite_generalInvite__form__deck__subtext__j-CNA {
  font-family: Tiempos Headline !important;
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 40px;
  text-align: center;
}

p {
  display: block;
  margin-block-end: 0;
  margin-block-start: 0;
}

.generalInvite_generalInvite__form__deck__options__MUfz- {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

button,
select {
  text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
  font-feature-settings: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.generalInvite_generalInvite__form__deck__options__wrapper__Vi-Dc {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: -webkit-max-content;
  width: max-content;
}

.generalInvite_generalInvite__form__deck__options__option__nTnUr {
  border: 1px solid #34544f;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  height: 7.5rem;
  place-items: center;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  width: 9.4rem;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

.generalInvite_generalInvite__form__deck__options__MUfz- span {
  text-align: center;
}

.dialog_dialog__trigger__Dhcr7 span {
  color: #000;
  color: initial;
}

.dialog_dialog__trigger__Dhcr7 {
  background: #0000 !important;
  border: 1px solid #0000 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  width: auto;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
  background-color: initial;
  background-image: none;
}
[role='button'],
button {
  cursor: pointer;
}
button,
select {
  text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
  font-feature-settings: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
  border: none;
  max-height: 100% !important;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

button,
img,
input,
optgroup,
select,
textarea {
  outline: none;
}

.generalInvite_generalInvite__08o8t {
  align-items: center;
  background-color: #fff;
  display: flex;
  font-family: Tiempos Headline !important;
  height: 100%;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  position: relative;
  width: 100vw;
}

.generalInvite_generalInvite__body__l5a9w {
  align-items: center;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  min-width: 330px;
}

@media only screen and (max-width: 1024px) {
  .generalInvite_generalInvite__form__4i6p4 {
    gap: 2rem;
    max-width: 80vw;
  }
}
.generalInvite_generalInvite__form__4i6p4 {
  align-items: center;
  color: #000;
  display: flex;
  gap: 5rem;
  justify-content: center;
  max-width: 71.4vw;
  min-width: 330px;
  z-index: 1;
}

.generalInvite_generalInvite__form__image__lw-rp {
  height: auto;
  max-height: 80vh;
  max-width: 37%;
  position: relative;
}
