.gallery-button {
  margin: 2rem auto;
  max-width: max-content;
}

.gallery_button {
  align-items: center;
  background: #e8dff0;
  color: #000;
  border: 2px solid #ba9ed1;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 46px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 12px 24px;
  transition: all 0.3s ease-out 0s;
}
.gallery_button:hover {
  background-color: #ba9ed1;
  color: #425c4c;
}
.gallery_button > span {
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2rem;
  text-transform: uppercase;
}
