.marquee-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  gap: 2rem;
  /* background: #fffbf2;
  background: #e8dff0; */
  background: #eee8f3;
}

.marquee-container > div {
  height: 250px;
  max-width: 100vw;
  width: 100%;
}

.marquee {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  -webkit-box-pack: center;
  justify-content: center;
}

.rtl {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90%;
  flex-shrink: 0;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.rtl > div {
  display: inline-block;
  position: relative;
  left: 0px;
  top: 0px;
}

.marquee-box {
  height: 300px;
  width: 300px;
  margin-left: 2rem;
  padding: 24px 16px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(106, 105, 105, 0.25);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

.marquee-box > div {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.marquee-box > p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  /* overflow: hidden; */
}
