.ReactGridGallery_tile {
  background-color: white !important;
  margin: 20px auto !important;
  padding: 20px !important;
}
.ReactGridGallery_tile-overlay,
.ReactGridGallery_tile-icon-bar {
  opacity: 0 !important;
  display: none;
  visibility: hidden;
}

.ReactGridGallery_tile-viewport {
  width: 100% !important;
}
.ReactGridGallery_tile-viewport > img {
  margin-left: 0px !important;
  height: 100% !important;
}
