.bg-container {
  background: #fff;
  height: calc(100vh - 64px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bg-container.form {
  height: 100vh;
  @media only screen and (max-width: 900px) {
    height: -webkit-fill-availble;
    overflow: hidden;
  }
}

.bg-image-container {
  top: 0;
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(1.1) translateZ(0px);
}

.bg-image-container > span {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bg-image-container > span > .image {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  filter: none;
  background-size: cover;
  background-image: none;
  background-position: 0% 0%;
  object-fit: cover !important;
  /* vertical-align: middle; */
  outline: none;
}

.bg-text-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.bg-form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  @media only screen and (max-width: 900px) {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bg-text-container > div > h5 {
  opacity: 1;
  transform: none;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
  max-width: 1024px;
  font-family: Tiempos Headline;
  @media only screen and (max-width: 900px) {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6875rem;
    letter-spacing: 0;
    text-align: center;
  }
}

.bg-text-container > div > p {
  opacity: 1;
  transform: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.bg-button-container {
  opacity: 1;
  transform: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bg-button-container > div {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 10px;
}

.bg-button-container > div > a {
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  width: fit-content;
  cursor: pointer;
  text-transform: none;
}
.bg-button-container > div > a > span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-family: Tiempos Headline;
  font-size: 18px;
  line-height: 19px;
  margin: 0 auto;
  background: linear-gradient(to top right, #ba9ed1, #e8dff0);
  color: #000;
  border: 2px solid #fff;
  text-transform: uppercase;
  width: fit-content;
}
