.open {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  width: -moz-available;
  width: -webkit-fill-available;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2147483645;
  overflow-y: auto;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 37.5em) {
    background-color: #fff;
    height: 100%;
  }
  @media (prefers-reduced-motion: no-preference) {
    animation: dialog_overlayShow__b6mHC 0.2s cubic-bezier(0.16, 1, 0.3, 1)
      backwards;
  }
}

.open > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2147483645;
  @media only screen and (max-width: 37.5em) {
    background-color: #fff;
    height: calc(100vh - (100vh - 100%));
    width: 100vw;
  }
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  align-self: flex-end;
  height: 40px;
  width: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 1rem;
  z-index: 2;
  @media only screen and (max-width: 37.5em) {
    position: absolute;
    z-index: 1001;
    top: 2.25rem;
    right: 1rem;
  }
  @media only screen and (max-width: 48em) {
    position: absolute;
    z-index: 1001;
    top: 2rem;
    right: 1rem;
  }
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
