@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'aos/dist/aos.css';
*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  display: block;
  max-height: 100% !important;
}

.header-container {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  width: 100%;
  min-height: 64px;
  box-shadow: 0 6px 24px rgba(237, 237, 237, 0.25);
  background-color: transparent;
  @media only screen and (max-width: 900px) {
    grid-template-columns: 10px 1fr 10px;
  }
}

.header-container header {
  height: 100%;
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-container a h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  font-family: Tiempos Headline;
}

.floater-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.floater-container > div {
  position: fixed;
  bottom: 1%;
  z-index: 10000000;
  width: auto;
  max-width: 670px;
  margin: 24px 0;
  background-color: #fff;
  box-shadow: 0.2px 0.4px 0.5px rgba(161, 161, 161, 0.36),
    0.5px 1.3px 1.6px -0.8px rgba(161, 161, 161, 0.36),
    1.3px 3.4px 4.1px -1.7px rgba(161, 161, 161, 0.36),
    3.1px 8.2px 9.9px -2.5px rgba(161, 161, 161, 0.36);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 24px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 64px;
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    max-width: 90vw;
    padding: 12px 32px;
    width: -moz-fit-content;
    width: fit-content;
    /* gap: 1rem; */
    bottom: 1%;
  }
  @media only screen and (max-width: 600px) {
    gap: 1rem;
  }
}

.floater-container > div > button {
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floater-container button > .icon {
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ba9ed1;
}

.floater-container button > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  height: 16px;
  display: flex;
  align-items: center;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(180deg, transparent -37.03%, rgba(0, 0, 0, 0.62));
}

/* Custom AOS animation class */
[data-aos='slide-ya'] {
  opacity: 0;
  transform: translateY(25%);
  transition-property: opacity, transform;
  transition-timing-function: ease;
}

[data-aos='slide-ya'].aos-animate {
  opacity: 1;
  transform: translateY(0);
}
[data-aos='slide-yo'] {
  opacity: 0;
  transform: translateY(-25%);
  transition-property: opacity, transform;
  transition-timing-function: ease;
}

[data-aos='slide-yo'].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

[data-aos='pop-ya'] {
  opacity: 0;
  transform: scale(0.8);
  transition-property: opacity, transform;
  transition-timing-function: ease;
  transition-duration: 2s;
}

[data-aos='pop-ya'].aos-animate {
  opacity: 1;
  transform: scale(1);
}

.outline {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
  @media only screen and (max-width: 900px) {
    height: auto;
    padding: 80px 0;
  }
}

.outline > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 85vw;
  opacity: 1;
  @media only screen and (max-width: 900px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
}

.outline-item {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 900px) {
    border-right: none;
    padding-bottom: 40px;
    margin-top: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.outline-item:first-child {
  @media only screen and (max-width: 900px) {
    margin-top: 0;
  }
}

.outline-item:last-child {
  border: none;
  @media only screen and (max-width: 900px) {
    padding: 0;
  }
}
.outline-item > div {
  margin-bottom: 8px;
}

.outline-item h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 24px;
  font-family: Tiempos Headline;
}

.outline-item > p:first-of-type {
  margin-bottom: 24px;
  font-family: Tiempos Headline;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
}

.outline-item > p:last-of-type {
  margin-bottom: 24px;
  font-family: Tiempos Headline;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
}

.outline-item > span {
  margin-bottom: 24px;
  font-family: Tiempos Headline;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
}

.displayBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2147483645;
  @media only screen and (max-width: 37.5em) {
    background-color: #fff;
    height: calc(100vh - (100vh - 100%)); /* 100% for wishlist*/
    width: 100vw;
  }
}

.display-invite-box {
  background: linear-gradient(to bottom, #ba9ed1, #e8dff0);
  background-color: #fff;
  height: auto;
  width: 551px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  max-height: 85vh;
  overflow-y: auto;
  padding: 40px;
  @media only screen and (max-width: 37.5em) {
    padding: 48px 32px;
    height: calc(100vh - (100vh - 100%));
    width: -webkit-fill-available;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 1000;
  }
}

.display-invite-box > div:first-child {
  width: 80%;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  filter: drop-shadow(0 3px 5px rgba(9, 30, 66, 0.2))
    drop-shadow(0 0 1px rgba(9, 30, 66, 0.31));
  @media only screen and (max-width: 78.75em) {
    height: 50vh;
  }
}

.display-invite-box > div:first-child > span {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}

.display-invite-box > div:first-child > span > .img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
}

.display-invite-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  gap: 1rem;
  margin: 0 auto;
  flex-wrap: wrap;
  @media only screen and (max-width: 48em) {
  }
}

.display-invite-options > div > button {
  padding: 12px 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-transition: all 0.3s ease-out;
}

.display-invite-options > div:first-child > button {
  background: #ba9ed1;
  border: 1px solid #e8dff0;
}
.display-invite-options > div:last-child > button {
  background: #e8dff0;
  border: 1px solid #ba9ed1;
}

.display-invite-options > div > button > div {
  color: #000;
  font-family: Tiempos Headline;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
