@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'aos/dist/aos.css';
*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  display: block;
  max-height: 100% !important;
}

.header-container {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  width: 100%;
  min-height: 64px;
  box-shadow: 0 6px 24px rgba(237, 237, 237, 0.25);
  background-color: transparent;
}

.header-container header {
  height: 100%;
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-container a h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  font-family: Tiempos Headline;
}

.floater-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.floater-container > div {
  position: fixed;
  bottom: 1%;
  z-index: 10000000;
  width: auto;
  max-width: 670px;
  margin: 24px 0;
  background-color: #fff;
  box-shadow: 0.2px 0.4px 0.5px rgba(161, 161, 161, 0.36),
    0.5px 1.3px 1.6px -0.8px rgba(161, 161, 161, 0.36),
    1.3px 3.4px 4.1px -1.7px rgba(161, 161, 161, 0.36),
    3.1px 8.2px 9.9px -2.5px rgba(161, 161, 161, 0.36);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 24px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 64px;
}

.floater-container > div > button {
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floater-container button > .icon {
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ba9ed1;
}

.floater-container button > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  height: 16px;
  display: flex;
  align-items: center;
}

.hero-container {
  background: #fff;
  height: calc(100vh - 64px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hero-image-container {
  top: 0;
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(1.1) translateZ(0px);
}

.hero-image-container > span {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero-image-container > span > .image {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  filter: none;
  background-size: cover;
  background-image: none;
  background-position: 0% 0%;
  object-fit: cover !important;
  /* vertical-align: middle; */
  outline: none;
}

.hero-text-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.hero-text-container > div > h5 {
  opacity: 1;
  transform: none;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
  max-width: 1024px;
  font-family: Tiempos Headline;
}
.hero-text-container > div > p {
  opacity: 1;
  transform: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.hero-button-container {
  opacity: 1;
  transform: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-button-container > div {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 10px;
}

.hero-button-container > div > button {
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  width: fit-content;
  cursor: pointer;
  text-transform: none;
}
.hero-button-container > div > button > span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-family: Tiempos Headline;
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
  color: #000;
  background-color: #fff;
  text-transform: uppercase;
  width: fit-content;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(180deg, transparent -37.03%, rgba(0, 0, 0, 0.62));
}

/* Custom AOS animation class */
[data-aos='slide-ya'] {
  opacity: 0;
  transform: translateY(25%);
  transition-property: opacity, transform;
  transition-timing-function: ease;
}

[data-aos='slide-ya'].aos-animate {
  opacity: 1;
  transform: translateY(0);
}
[data-aos='slide-yo'] {
  opacity: 0;
  transform: translateY(-25%);
  transition-property: opacity, transform;
  transition-timing-function: ease;
}

[data-aos='slide-yo'].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

[data-aos='pop-ya'] {
  opacity: 0;
  transform: scale(0.8);
  transition-property: opacity, transform;
  transition-timing-function: ease;
  transition-duration: 2s;
}

[data-aos='pop-ya'].aos-animate {
  opacity: 1;
  transform: scale(1);
}

.outline {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

.outline > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 85vw;
  opacity: 1;
}

.outline-item {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.outline-item > div {
  margin-bottom: 8px;
}

.outline-item h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 24px;
  font-family: Tiempos Headline;
}

.outline-item > p:first-of-type {
  margin-bottom: 24px;
  font-family: Tiempos Headline;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
}

.outline-item > p:last-of-type {
  margin-bottom: 24px;
  font-family: Tiempos Headline;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
}

.outline-item > span {
  margin-bottom: 24px;
  font-family: Tiempos Headline;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
}
