@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.STD_container {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  max-width: 32.42vw;
  min-width: 330px;
  position: relative;
  z-index: 1;
}

.STD_card {
  height: auto;
  max-height: 80vh;
  max-width: 100%;
  overflow: auto;
  position: relative;
}

*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  display: block;
  /* display: block;
    height: 100%; */
  max-height: 100% !important;
  /* max-width: 100%; */
}

.cta {
  align-items: center;
  background-color: #ba9ed1;
  text-decoration: underline;
  color: #425c4c;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 46px;
  justify-content: center;
  padding: 0 24px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  width: 100%;
}

.cta span {
  color: #425c4c;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 2rem;
  text-transform: uppercase;
}

.regForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding: 0 1rem;
}

.regForm_Input {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.regForm_Input > label {
  color: #000;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 4px;
}

.regForm_Input > div {
  display: block;
  background-color: #0000;
  border: 1px solid #0000;
  position: relative;
  width: 100%;
}
.regForm_Input > div > input {
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  justify-content: space-between;
  line-height: 22px;
  outline: 0;
  padding: 0.8rem 3rem 0.8rem 1rem;
  width: 100%;
}

.bg_img > img {
  width: 100%;
  height: 100%;
}
.bg_img {
  height: 100px;
  position: fixed;
}

.top_right {
  top: 0;
  right: 0;
}
.top_left {
  top: 0;
  left: 0;
}
.bottom_right {
  bottom: 0;
  right: 0;
}
.bottom_left {
  bottom: 0;
  left: 0;
}

.STD_card span {
  filter: blur(0);
  transition: filter 0.3s;
}

.blur {
  --tw-blur: blur(8px);
}

.STD_card > span > img {
  opacity: 1;
  transition: opacity 0.3s;
}

.gift_right h3 {
  font-family: Tiempos Headline !important;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 auto 0.5rem;
  max-width: 369px;
  text-align: center;
}

.gift_right p {
  font-family: Tiempos Headline !important;
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 40px;
  text-align: center;
}

.gift_right > span {
  display: block;
  cursor: pointer;
  font-family: Tiempos Headline !important;
  margin-top: 50px;
  text-align: center;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

p {
  display: block;
  margin-block-end: 0;
  margin-block-start: 0;
}

.gift_card-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

.gift_card {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: -webkit-max-content;
  width: max-content;
}

.gift_card > div {
  border: 1px solid #34544f;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  height: 7.5rem;
  place-items: center;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  width: 9.4rem;
}

.gift_card-container span {
  text-align: center;
}

.gift_link span {
  color: #000;
  color: initial;
}

.gift_link {
  background: #0000 !important;
  border: 1px solid #0000 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  width: auto;
}

.container {
  align-items: center;
  background-color: #fff;
  display: flex;
  font-family: Tiempos Headline !important;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  position: relative;
  width: 100vw;
}

@media only screen and (max-width: 1024px) {
  .dubcol_container {
    gap: 2rem;
    max-width: 80vw;
  }
}
.dubcol_container {
  align-items: center;
  color: #000;
  display: flex;
  gap: 5rem;
  justify-content: center;
  max-width: 71.4vw;
  min-width: 330px;
  z-index: 1;
}

.gift_left {
  height: auto;
  max-height: 80vh;
  max-width: 37%;
  position: relative;
}

.telinput {
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  justify-content: space-between;
  line-height: 22px;
  outline: 0;
  padding: 0.8rem 3rem 0.8rem 1rem;
  width: 100%;
}

.telinput > input {
  align-items: center;
  background-color: #fafafa;
  border: 0px solid #f2f2f2;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  justify-content: space-between;
  line-height: 22px;
  outline: 0;
  width: 100%;
}

.regForm_button {
  align-items: center;
  background-color: #ba9ed1;
  color: #425c4c;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 46px;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  padding: 0px 24px;
  transition: all 0.3s ease-out 0s;
}

.regForm_button > span {
  color: #425c4c;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.popUp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.cashBox {
  background-color: #fff;
  margin: 15% auto;
  padding: 30px 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.cashBox h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
  font-family: Tiempos Headline !important;
}

.close {
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -50px;
  right: -50px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.account-container {
  max-height: 500px;
  overflow-y: auto;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.account-container li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: center;
}

.account-container li > p {
  flex: 1;
  margin: 0 10px;
}

.wishBox {
  background-color: #fff;
  margin: 15% auto;
  padding: 30px 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.wishBox h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
  font-family: Tiempos Headline !important;
}

.wish-container {
  max-height: 500px;
  overflow-y: auto;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.wish-container::-webkit-scrollbar {
  width: 8px;
}

.wish-container::-webkit-scrollbar-track {
  background: #fafafa; /* Color of the track */
}

.wish-container::-webkit-scrollbar-thumb {
  background: #ba9ed1; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the thumb */
}

.wish-container::-webkit-scrollbar-thumb:hover {
  background: #ba9ed1; /* Color of the scrollbar thumb on hover */
}

.wish-container li {
  background-color: #fafafa;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.wish-container li > button {
  align-items: center;
  background-color: #ba9ed1;
  border: 1.5px solid #425c4c;
  color: #425c4c;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 46px;
  justify-content: center;
  border-radius: 8px;
  padding: 0px 6px;
  transition: all 0.3s ease-out 0s;
  flex: 1;
  margin: 0 10px;
}

.wish-container li > button:hover {
  color: white;
}

.wish-container li > div {
  flex: 1;
  margin: 0 10px;
}
