.wishBox {
  /* background: linear-gradient(to top right, #ba9ed1, #e8dff0);
  color: #000;
  border: 2px solid #fff; */
  background-color: white;
  height: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  max-height: 85vh;
  overflow-y: auto;
  padding: 40px;
  @media only screen and (max-width: 37.5em) {
    padding: 48px 32px;
    height: -moz-available;
    height: calc(100vh - (100vh - 100%));
    width: -moz-available;
    width: -webkit-fill-available;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 1000;
  }
}

.wishBox h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
  font-family: Tiempos Headline !important;
}

.wish-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  --radix-scroll-area-corner-width: 0px;
  --radix-scroll-area-corner-height: 0px;
  @media only screen and (max-width: 37.5em) {
    height: 80vh;
  }
}

.wish-container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.wish-container > div > ul {
  min-width: 100%;
  display: table;
}
.wish-container > div::-webkit-scrollbar {
  background: #fafafa; /* Color of the track */
  width: 6px;
}

.wish-container > div::-webkit-scrollbar-track {
}

.wish-container > div::-webkit-scrollbar-thumb {
  background: #ba9ed1; /* Color of the scrollbar thumb on hover */
  border-radius: 4px; /* Rounded corners of the thumb */
}

.wish-container > div::-webkit-scrollbar-thumb:hover {
  background: #e8dff0; /* Color of the scrollbar thumb */
}

.wish-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  margin-bottom: 0.5rem;
  margin-right: 1.2rem;
  padding: 16px 20px;
  flex-wrap: wrap;
  @media only screen and (max-width: 37.5em) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.wish-item div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: start;
  border-radius: 4px;
  flex-basis: 60%;
  color: #000;
  @media only screen and (max-width: 37.5em) {
    max-width: none;
  }
}

.wish-item div:first-child > div {
  @media only screen and (max-width: 37.5em) {
    width: 100%;
  }
}

.wish-item div:first-child > div > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #4d4d4d;
  width: 100%;
  margin-bottom: 0.5rem;
  font-family: Tiempos Headline !important;
}

.wish-item > div:first-child > div > h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #4d4d4d;
}

.wish-item > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
  padding: 8px 8px 8px 0;
  white-space: nowrap;
  flex: 1;
  gap: 8px;
}

.wish-item > div:last-child > div {
  @media only screen and (max-width: 37.5em) {
    width: 100%;
  }
}

.wish-item div:last-child > div > button {
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  width: -moz-fit-content;
  width: fit-content;
}
.wish-item div:last-child > div > button > span {
  font-size: 16px;
  flex: 1;
  width: 100%;
  padding: 10px 25px;
  background: #e8dff0;
  color: #000;
  border: 1px solid #ba9ed1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 4px;
}

.wish-item > button:hover {
  color: white;
}
