@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  @media only screen and (max-width: 900px) {
    max-height: 100vh;
  }
}

a {
  text-decoration: none;
  color: #000;
}

*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  display: block;
  max-height: 100% !important;
}

.container {
  align-items: center;
  background-color: #fff;
  display: flex;
  font-family: Tiempos Headline !important;
  height: 100%;
  justify-content: center;
  /* max-height: 100vh !important; */
  padding: 2rem;
  position: relative;
  width: 100vw;
}

.STD_container {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  max-width: 32.42vw;
  min-width: 330px;
  position: relative;
  z-index: 1;
}

.STD_card {
  height: auto;
  max-height: 80vh;
  max-width: 100%;
  overflow: auto;
  position: relative;
}

.cta {
  align-items: center;
  background-color: #ba9ed1;
  text-decoration: underline;
  color: #425c4c;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 46px;
  justify-content: center;
  padding: 0 24px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  width: 100%;
}

.cta span {
  color: #425c4c;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 2rem;
  text-transform: uppercase;
}

.bg_img > img {
  width: 100%;
  height: 100%;
}
.bg_img {
  height: 100px;
  position: fixed;
  @media only screen and (max-width: 900px) {
    width: 200px;
  }
}

.top_right {
  top: 0;
  right: 0;
}
.top_left {
  top: 0;
  left: 0;
}
.bottom_right {
  bottom: 0;
  right: 0;
}
.bottom_left {
  bottom: 0;
  left: 0;
}

.STD_card span {
  filter: blur(0);
  transition: filter 0.3s;
}

.blur {
  --tw-blur: blur(8px);
}

.STD_card > span > img {
  opacity: 1;
  transition: opacity 0.3s;
}

.gift_right {
  background: linear-gradient(to top right, #ba9ed1, #e8dff0);
  color: #000;
  border: 2px solid #fff;
  padding: 0.5rem;
  border-radius: 5px;
}
.gift_right h3 {
  font-family: Tiempos Headline !important;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 auto 0.5rem;
  max-width: 369px;
  text-align: center;
}

.gift_right p {
  font-family: Tiempos Headline !important;
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 40px;
  text-align: center;
}

.gift_right > span {
  display: block;
  cursor: pointer;
  font-family: Tiempos Headline !important;
  margin-top: 50px;
  text-align: center;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

p {
  display: block;
  margin-block-end: 0;
  margin-block-start: 0;
}

.gift_card-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

.gift_card {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: -webkit-max-content;
  width: max-content;
}

.gift_card > div {
  border: 1px solid #34544f;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  height: 7.5rem;
  place-items: center;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  width: 9.4rem;
}

.gift_card-container span {
  text-align: center;
}

.gift_link span {
  color: #000;
  color: initial;
}

.gift_link {
  background: #0000 !important;
  border: 1px solid #0000 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  width: auto;
}
.gift_left {
  height: auto;
  max-height: 80vh;
  max-width: 37%;
  position: relative;
}
